.blurMode .blurable {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.loadingContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    filter: none;
    -webkit-filter: none;
}

.loadingContainer .loadingLayer {
    /*background: rgba(115, 115, 115, 0.61);*/
    width: 100%;
    height: 100%;
    text-align: center;
}

.loadingContainer .loadingLayer i {
    opacity: 0;
}

.loadingContainer .loadingLayer.on i {
    opacity: 1;
}

.loadingContainer .loadingLayer i {
    -moz-transition: all 400ms ease-in;
    -webkit-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    font-size: 40px;
    color: #FFF;
    text-shadow: 0px 0px 5px #000;
}