
.activityRangeChart {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 250px;
    vertical-align: top;
    overflow: hidden;
    margin-bottom: 10px;
}

path.cover {
    fill: transparent;
    cursor: ew-resize;
}
path.areaAdd {
    /*Doesnt work in firefox
    clip-path: url("#clip");*/
    fill: rgba(0, 165, 0, 0.5);
    stroke: #0C9D02;
    stroke-width: 2px;
}

path.areaRem {
    /*Doesnt work in firefox
    clip-path: url("#clip");*/
    fill: rgba(213, 63, 63, 0.68);
    stroke: #BE1F1F;
    stroke-width: 2px;
}

.activityRangeChart .areaAdd2 {
        fill: rgba(0, 165, 0, 0.5);
    stroke: #0C9D02;
    stroke-width: 2px;
    clip-path: url(#clip);
}

.activityRangeChart .areaRem2 {
    fill: rgba(213, 63, 63, 0.68);
    stroke: #BE1F1F;
    stroke-width: 2px;
    clip-path: url(#clip);
}

.activityRangeChart .axis text {
    fill: #2C2C2C;
}

.activityRangeChart .axis path,
.activityRangeChart .axis line {
    fill: none;
    stroke: #2C2C2C;
    shape-rendering: crispEdges;
}

.activityRangeChart .brush .extent {
    fill: rgba(126, 126, 126, 0.29);
    stroke: rgba(0, 0, 0, 0.41);
    stroke-width: 1px;
}



/* Custom Tooltip 
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}*/

/* Creates a small triangle extender for the tooltip 
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}*/

/* Style northward tooltips differently 
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}*/

.gridX .tick, .gridY .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.gridX path, .gridY path {
    stroke-width: 0;
}