.header-fixed {
    background-color: #354A5B;
    margin: 0;
    z-index: 101;
    min-height: 0px;
    -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #EDEDED;
	box-sizing: border-box;
	top:0px;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
	width: 100%;
	padding: 10px 12px;
	height: 80px;
    -webkit-box-shadow: 0px 0px 2px 2px #00222F;
    -moz-box-shadow: 0px 0px 2px 2px #00222F;
    box-shadow: 0px 0px 2px 2px #00222F;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
}

.header-fixed .header-limiter {
	max-width: 1900px;
	text-align: center;
	height: 80px;
	margin: 0 auto;
	width: 100%;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

#headerright {
    display: inline-block;
    padding: 0;
    text-align: center;
    float: right;
    width: 25%;
}

#headerright .control.row {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.control {
	height: 80px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

#userinfobox {
    text-align: right;
}

#usernick {
    display: block;
	font-size: 20px;
	line-height: 25px;
	margin-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}

#username {
    display: block;
	font-size: 13px;
	line-height: 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}

#avatarbox {
	font-family: 'FontAwesome';
	width: 64px;
	height: 64px;
	margin-top: 0px;
	margin-left: 16px;
	vertical-align: middle;
	text-align: center;
	background-color: #212121;
	border-radius: 44px;
	box-shadow: 0px 0px 6px 0px #646262;
	float: right;
}

#buttonbox {
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 12px;
	float: right;
}

#avatarbox .useravatar {
    display: block;
    font-family: 'FontAwesome';
	font-size: 45px;
	margin-top: 9px;
	margin-left: 3px;
    color: #BFE5E3;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}

.headbutton {
    display: block !important;
    font-family: 'FontAwesome';
    border-radius: 15px;
    background-color: #292F33;
    color: #BFE5E3;
    box-shadow: 0px 0px 6px 0px #646262;
	font-size: 15px;
	width: 25px;
	height: 25px;
	padding-top: 5px;
	margin-bottom: 6px;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
	cursor: pointer;
}

.headbutton:hover {
	color: #BFE5E3;
}

#headermid {
    text-align: center;
    float: left;
    width: 50%;
}

#hsubtitle {
    display: block;
    font-size: 20px;
    line-height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}

#htitle {
	display: block;
	font-size: 29px;
	line-height: 27px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* Logo */
#headerleft {
	text-align: left;
    float: left;
    width: 25%;
}

#headerleft a.logo {
    display: inline-block;
}

#headerleft a.logo img {
	margin: -2px 20px 2px 3px;
	width: 64px;
    border-radius: 40px;
    box-shadow: 0px 0px 5px 1px #212121;
}

#headerleft .logotextbox {
    display: inline-block;
    width: 110px;
    vertical-align: middle;
	font-size: 17px;
	line-height: 20px;
}

#headerleft .logotextbox2 {
    display: none;
    width: 110px;
    vertical-align: middle;
	font-size: 17px;
	line-height: 20px;
}

.header-first-bar{
	height: 100px;
	box-sizing: border-box;
}


/* Fixed version of the header */
body.fixed .header-fixed {
	padding: 10px 12px;
	height: 40px;
	position: fixed;
	width: 100%;
	top: 0;
}

body.fixed .settings-pane {
	top: 41px;
}

body.hidd .header-fixed {
	top: -80px;
}

body.hidd .settings-pane {
	top: -190px;
}

body.fixed .header-fixed .header-limiter {
	height: 60px;
}

body.fixed .header-fixed-placeholder {
	display: block;
	height: 60px;
}

body.fixed #hsubtitle {
	display: none;
	font-size: 20px;
}

body.fixed #htitle {
	font-size: 21px;
	line-height: 25px;
}

body.fixed #headerleft a.logo img {
	margin: -2px 20px 2px 20px;
	width: 26px;
}

body.fixed #headerleft .logotextbox {
	font-size: 17px;
	line-height: 20px;
	display: none;
}

body.fixed #headerleft .logotextbox2 {
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
}

body.fixed #usernick {
	font-size: 19px;
	line-height: 22px;
	margin-top: 1px;
}

body.fixed #username {
  font-size: 13px;
  line-height: 23px;
  display: none;
}

body.fixed #avatarbox {
	width: 30px;
	height: 30px;
	margin-top: -4px;
	margin-left: 16px;
}

body.fixed #buttonbox {
	margin-top: 1px;
	margin-right: 7px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

body.fixed #avatarbox .useravatar {
	font-size: 19px;
	margin-top: 6px;
	margin-left: 3px;
}

body.fixed .headbutton {
	font-size: 12px;
	width: 21px;
	height: 21px;
	padding-top: 4px;
	margin-bottom: 6px;
	display: inline-block !important;
}

body.fixed .headbutton.mail {
	padding-left: 1px;
	margin-right: 3px;
}

body.fixed .control {
	height: 30px;
	overflow: visible;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 0;
		margin: 0;
		height: 75px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/* Header time bar */
div#timeBar {
	position: relative;
	text-align: center;
	width: 100%;
	bottom: 0;
	line-height: 10px;
	z-index: 200;
	white-space: nowrap;
	height: 25px;
}

div#timeBar i {
    color: rgba(44, 46, 47, 0.89);
    font-size: 18px
    text-align: center;
}

div#timeBar:hover i {
    color: #ADADAD;
    text-shadow: 0px 0px 6px #CDCDCD;
}

div#timeBar #timeBarIcon {
    padding: 0px 10px;
}

div#timeBar .timeBarLabel span {
    color: #337AB7;
    font-size: 17px;
}

div#timeBarDown {
	text-align: center;
	bottom: 0;
	height: 25px;
	position: absolute;
	width: 100%;
	top: 25px;
	margin: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.settings-pane.open #timeBarDown {
	text-align: center;
	bottom: 0;
	height: 25px;
	top: 166px;
}

.settings-pane .panel-body {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: rgba(25, 48, 63, 0.92);
}

div#timeControler {
	background-image: url("../../images/mini_down_bar.png");
	background-repeat: repeat-x;
    text-align: center;
    cursor: pointer;
    height: 25px;
}

#timeBarIcon {
	font-family: 'FontAwesome';
	width: 26px;
	height: 16px;
	font-size: 19px;
	margin-top: -3px;
	color: #BFE5E3;
}

/* Setting Pane */
#fixed-chart {
	width: 100%;
	display: inline-block;
	height: 100%;
	margin-top: -18px;
	margin-bottom: 10px;
	padding-right: 22px;
}

.timePanel {
    padding-left: 0;
    padding-right: 0;
}

div#floatingRow .panel.panel-default {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	background: rgba(0, 0, 0, 0);
	padding-left: 0;
	padding-right: 0;
	margin-left: 10px;
	margin-right: 14px;
}

.settings-pane {
    top: 81px;
    color: #FFF;
    height: 49px;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    width: 100%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settings-pane div#floatingRow {

}

.settings-pane.open {
    color: #FFF;
    height: 190px;
    width: 100%;
}

.timeMidBox {
    text-align: center;
    display: inline-block;
    width: 320px;
    height: 25px;
    background-image: url("../../images/center_down_bar.png");
}

#infobar {
	height: 25px;
	width: 100%;
	display: block;
	background-color: #263C4A;
}

.infoBox {
	display: inline-block;
	width: 33.33%;
	height: 25px;
	line-height: 25px;
}

.infoBox span {
	color: #BFE5E3;
	margin-left: 2px;
}

.infoBox.timeFrom {
}

.infoBox.since {
}

.infoBox.timeTo {
}

.infoBox.timeFrom #fromLabel {
}

.infoBox.since #sinceLabel {
}

.infoBox.timeTo #toLabel {
}

/* specific style for the Fixed time chart */
#fixed-chart .nvd3 .nv-brushBackground rect {
  fill: #263C4A;
  fill-opacity: 0.6;
  stroke: rgba(0,0,0,0);
}